/***************************************Knap*************************/
.button {
  background-color: #34478b;
  color: white;
  padding: 18px 40px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  letter-spacing: 10px;
  cursor: pointer;
}
/*******************************Strips********************************/
.bar {
  height: 12px;
  background-color: #e63c32;
  margin: 10px 30px;
  border-radius: 2px;
}
/*************************Footer***********************/
  .dropdown {
    background-color: #d6d0a8;  /* beige pill background */
    color: #000;
    width: 350px;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 25px;        /* rounded ends */
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
  }

  .dropdown .arrow {
    margin-right: 18px;
    font-size: 20px;
  }

  .right-column {
    margin-left: 40px;
    font-size: 20px;
    line-height: 35px;
  }