.news-info {
  align-items: center;
  text-align: center;
  background-color: #d2cdac;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.news-info h1 {
  font-size: 60px;
  color: black;
  font-style: italic;
  font-weight: bold;
  text-decoration: 2px solid black;
}
.news-info p {
  padding: 10px;
  font-size: 12px;
  color: black;
}

/********************* New Arrivals ********************/

/* Centrering af indhold*/
#news-arrivals-section h2,
#ny-section h2,
#ny-section p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.flexarrivals img,
.news-ny-flex img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#news-arrivals-section {
  background-color: #e95c5a;
  width: 100%;
  padding: 30px;
}

.news-ny-flex,
.flexarrivals img {
  display: block;
  margin: 30px;
  gap: 20px;
  align-items: center;
}

.news-arrivals,
.news-ny-flex,
.flexarrivals {
  text-align: center;
}
.flexarrivals,
.news-ny-flex {
  display: block;
  gap: 20px;
  margin: 0 auto;
}

/**/
.news-arrivals h2 {
  color: black;
  font-style: italic;
  font-weight: bold;
  text-decoration: 2px solid black;
  font-size: 40px;
  align-items: center;
}

.viewmorebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.viewmorebutton button {
  display: inline-flex;
  justify-content: center;
  background: #546e9a;
  color: white;
  font-size: 12px;
  text-decoration: none;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 7px;
}
.viewmorebutton button:hover {
  background: #0056b3;
}
/************************ News Anniversary *******************/
#ny-section {
  width: 100%;
  padding: 20px;
  background-color: #d2cdac;
}
.news-ny-flex {
  display: block;
  margin: 30px;
  gap: 20px;
}

/*********************** Newsletter Form ********************/
#newsletter-form {
  display: block;
  gap: 10px;
  padding: 10px;
  align-items: center;
}
#form-section {
  background-color: #364585;
  width: 100%;
  padding: 20px;
}
.form-info {
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  padding: 20px;
  margin: 30px;
}
.form-info h2 {
  color: #d2cdac;
  font-style: italic;
  font-weight: bold;
  text-shadow: black 1px 1px 2px;
  text-decoration: 2px solid black;

  align-items: center;
  font-size: 40px;
}
.form-info p {
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 12px;
}

.form-block-container {
  display: block;
  gap: 20px;
  padding: 20px;
}
.form-flex-container {
  gap: 20px;
  padding: 20px;
}
.formgroup {
  display: block;
  padding: 10px;
}

label {
  display: inline-block;
  color: white;
  display: block;
  width: 100%;
  border: none;
  padding-bottom: 10px;
  border-radius: 7px;
}

/** input, checkbox og knap styling **/
input {
  display: flex;
  background-color: #d2cdac;
  padding: 10px;
  border-radius: 7px;
  width: 300px;
  height: 40px;
  box-sizing: border-box;
}

input:focus {
  background-color: whitesmoke;
}
input:user-invalid {
  background-color: #dc8687;
}

input:user-valid {
  background-color: #d2cdac;
}

#firstname:user-valid + span::after {
  content: "✔ Thank you!";
  color: #86dc9e;
  font-weight: 900;
  font-size: 0.7rem;
}

#firstname:user-invalid + span::after {
  content: "✖ Please enter a valid first name";
  color: #dc8687;
  font-weight: 900;
  font-size: 0.7rem;
}

#lastname:user-valid + span::after {
  content: "✔ Thank you!";
  color: #86dc9e;
  font-weight: 900;
  font-size: 0.7rem;
}

#lastname:user-invalid + span::after {
  content: "✖ Please enter a valid last name";
  color: #dc8687;
  font-weight: 900;
  font-size: 0.7rem;
}

input:user-valid + span::after {
  content: "✔ Valid email address, thank you!";
  color: #86dc9e;
  font-weight: 900;
  font-size: 0.7rem;
}

input:user-invalid + span::after {
  content: "✖ Please enter a valid email address!";
  color: #dc8687;
  font-weight: 900;
  font-size: 0.7rem;
}
.formgroup {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.formgroup span::after {
  margin-left: auto; /* skubber beskeden til højre */
}

.formgroupcheckbox label {
  display: block;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.formgroupcheckbox input[type="checkbox"] {
  display: inline-block;
  width: auto;
}
input[type="checkbox"] {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 2px;
  background-color: #d2cdac;
  cursor: pointer;
  position: relative;
}
input[type="checkbox"]:checked {
  background-color: #546e9a;
}
input[type="checkbox"]:checked::after {
  content: "✔";
  color: #d2cdac;
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 15px;
}

.button {
  align-items: left;
  width: auto;
}
#form-section .signup {
  margin: 25px;
  width: 300px;
}
.signup {
  align-items: center;
  color: white;
  font-size: 12px;
  background-color: #e95c5a;
  padding: 10px;
  border-radius: 7px;
  border: none;
  width: 300px;
  height: 40px;
}

@media (min-width: 840px) {
  #ny-section .news-ny-flex {
    display: flex;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    text-align: left;
    align-items: flex-start;
  }
  #ny-section .news-ny-flex p {
    flex: 1;
    margin: 0;
  }

  #ny-section .news-ny-flex div {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }

  #ny-section .news-ny-flex img,
  .flexarrivals img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  #ny-section .news-arrivals h2,
  #news-arrivals-section h2 {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  .flexarrivals {
    display: flex;
    gap: 20px;
  }
}
