/**/
.flexarrivals img {
  border: 4px solid #364585;
  overflow: hidden;
  width: 45%;
}

.news-info {
  align-items: center;
  text-align: center;
  background-color: #d2cdac;
  padding-top: 50px;
  padding-bottom: 50px;
}
.news-info h1 {
  font-size: 60px;
  color: black;
  font-weight: bold;
  text-decoration: 2px solid black;
}
.news-info p {
  padding: 10px;
  font-size: 12px;
  color: black;
}

/********************* New Arrivals ********************/

/* Centrering af indhold*/
#news-arrivals-section,
.news-arrivals,
#ny-section h2,
#ny-section p,
.button,
img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#news-arrivals-section h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
}

#news-arrivals-section {
  background-color: #e95c5a;
  width: 100%;
  padding: 30px;
}

.news-ny-flex,
.flexarrivals img {
  display: block;
  align-items: center;
  height: auto;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.news-arrivals img {
  display: block;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 30%;
  margin: auto;
}

.news-arrivals {
  display: block;
  align-items: center;
}

.news-ny-flex,
.flexarrivals {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.flexarrivals,
.news-ny-flex {
  display: block;
  gap: 20px;
  margin: 0 auto;
}

/**/
.news-arrivals h2 {
  color: black;
  font-weight: bold;
  text-decoration: 2px solid black;
  font-size: 40px;
  align-items: center;
  margin-top: 20px;
}

button {
  display: inline-block;
  padding: 6px 18px;
  background-color: #546e9a;
  border-radius: 6px;
  font-size: 14px;
  border: none;
  outline: none;
}
button a {
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: #364585;
  box-shadow: 0px 2px 10px #546e9a;
  transition: 0.1s ease-in;
  transform: scale(1.1);
}

/************************ News Anniversary *******************/
#ny-section {
  width: 100%;
  padding: 20px;
  background-color: #d2cdac;
}
.news-ny-flex {
  display: block;
  margin: 30px;
  gap: 20px;
}

/*********************** Newsletter Form ********************/
#newsletter-form {
  display: block;
  gap: 10px;
  padding: 10px;
  align-items: center;
}
#form-section {
  background-color: #364585;
  width: 100%;
  padding: 20px;
}
.form-info {
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  padding: 20px;
  margin: 30px;
}
.form-info h2 {
  color: #d2cdac;
  font-weight: bold;
  text-shadow: black 2px 2px 4px;
  text-decoration: 2px solid black;
  align-items: center;
  font-size: 40px;
}
.form-info p {
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 12px;
  padding: 10px;
}

.form-block-container {
  display: block;
  gap: 20px;
  padding: 20px;
}
.form-flex-container {
  gap: 20px;
  padding: 20px;
}
.formgroup {
  display: block;
  padding: 10px;
}

label {
  display: inline-block;
  color: white;
  display: block;
  width: 100%;
  border: none;
  padding-bottom: 10px;
  border-radius: 7px;
}

/** input, checkbox og knap styling **/
input {
  display: flex;
  background-color: #d2cdac;
  padding: 10px;
  border-radius: 7px;
  width: 300px;
  height: 40px;
  box-sizing: border-box;
}

input:focus {
  background-color: whitesmoke;
}
input:user-invalid {
  background-color: #dc8687;
}

input:user-valid {
  background-color: #d2cdac;
}

#firstname:user-valid + span::after {
  content: "✔ Thank you!";
  color: #86dc9e;
  font-weight: 900;
  font-size: 0.7rem;
}

#firstname:user-invalid + span::after {
  content: "✖ Please enter a valid first name";
  color: #dc8687;
  font-weight: 900;
  font-size: 0.7rem;
}

#lastname:user-valid + span::after {
  content: "✔ Thank you!";
  color: #86dc9e;
  font-weight: 900;
  font-size: 0.7rem;
}

#lastname:user-invalid + span::after {
  content: "✖ Please enter a valid last name";
  color: #dc8687;
  font-weight: 900;
  font-size: 0.7rem;
}

input:user-valid + span::after {
  content: "✔ Valid email address, thank you!";
  color: #86dc9e;
  font-weight: 900;
  font-size: 0.7rem;
}

input:user-invalid + span::after {
  content: "✖ Please enter a valid email address!";
  color: #dc8687;
  font-weight: 900;
  font-size: 0.7rem;
}
.formgroup {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.formgroup span::after {
  margin-left: auto; /* skubber beskeden til højre */
}
.formgroupcheckbox label {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px 10px;
}
.formgroupcheckbox input[type="checkbox"] {
  display: inline-block;
  width: auto;
}
input[type="checkbox"] {
  appearance: none;
  width: 23px;
  height: 23px;
  border-radius: 2px;
  background-color: #d2cdac;
  position: relative;
}
input[type="checkbox"]:checked {
  background-color: #546e9a;
}
input[type="checkbox"]:checked::after {
  content: "✔";
  color: #d2cdac;
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 15px;
}

.button {
  width: auto;
}
#form-section .signup {
  margin: 25px;
  width: 300px;
}
.signup {
  align-items: center;
  color: white;
  font-size: 12px;
  background-color: #e95c5a;
  padding: 10px;
  border-radius: 7px;
  border: none;
  width: 300px;
  height: 40px;
}
.signup:hover {
  background-color: #364585;
  box-shadow: 0px 2px 10px #e95c5a;
  transition: 0.1s ease-in;
  transform: scale(1.1);
}

@media (min-width: 769px) {
  #ny-section .news-ny-flex {
    display: flex;
    gap: 50px;
    margin: 30px;
    padding: 30px;
    text-align: left;
    align-items: flex-start;
    margin-left: 130px;
    margin-right: 30px;
  }
  #ny-section .news-ny-flex p {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
  }

  #ny-section .news-ny-flex div {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }

  #ny-section .flexarrivals img {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #news-arrivals-section {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  #news-arrivals-section h2 {
    margin-left: 0px;
  }

  .news-arrivals {
    display: flex;
    margin: 0;
    gap: 20px;
  }

  #news-arrivals-section .viewmorebutton {
    display: block;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .news-arrivals h2 {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0;
    text-align: left;
  }
  .news-arrivals img {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    width: 10%;
    margin: 0;
  }

  .flexarrivals {
    display: flex;
    gap: 20px;
  }

  #ny-section h2 {
    text-align: left;
    margin-left: 100px;
    margin-right: auto;
  }
}
