/************MOBIL ************/

.primary_img {
  padding: 20px;
}

.primary_img img {
  object-fit: cover;
}

.product_imgs {
  border: 4px solid #364585;
  display: block;
}

.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

.product_info {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px 0;
}

/*********** TEKST **************/
h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
}

h3 {
  font-size: 20px;
  margin-top: 15px;
}

.product_info p {
  font-size: 16px;
}

/************* BUTTONS ***********/
.reserve_btn {
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #546e9a;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/*********** OTHER **********/
.hide {
  display: none;
}

/************ DESKTOP ****************/
@media (min-width: 769px) {
  /********* GRID *************/
  .product_info_grid {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: start;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }

  .grid_1-1-1-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 0;
  }

  .primary_img {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    padding: 0;
  }

  .product_info {
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    align-items: start;
    text-align: left;
    gap: 10px;
  }

  /********** TEKST ***********/
  h2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    text-align: left;
    font-size: 28px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 24px;
  }

  .product_info p {
    font-size: 20px;
  }

  /********* BUTTONS ***********/
  .reserve_btn {
    font-size: 18px;
    padding: 10px 22px;
  }
}
