html {
  scroll-behavior: smooth;
}

/************ HERO **************/
.hero {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.Hero_img {
  width: 100%;
  height: auto;
  display: block;
}

.webshop_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.webshop_overskrift {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2rem;
  text-align: center;
  font-size: 40px;
}

/************* KATEGORI BAR ************/
.hide {
  display: none;
}

.categories_section {
  position: relative;
  background-color: #364585;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 15px 0;
}

.categories_section button {
  background-color: #e95c5a;
  border-radius: 7px;
  padding: 10px 15px;
  height: 38px;
  cursor: pointer;
  color: black;
  border: none;
  font-size: 1rem;
}

/************ Categori-Cards *********/
.categories_menuBar {
  margin: 10px auto 0 auto;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
}

.catergories_bar {
  background-color: black;
  color: white;
  padding: 1rem;
  width: 100%;
  margin-bottom: 10px;
}

.liste {
  list-style: none;
}

a {
  text-decoration: none;
}

.categori_link {
  font-family: "InstrumentSans", sans-serif;
  color: white;
}

/************* PRODUKT GRID **********/
.best_seller_group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.Product_cards {
  border: 4px solid #364585;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 45%;
}

.product_info {
  background-color: black;
  color: white;
  padding: 10px;

  box-sizing: border-box;
}

.product_info p {
  font-size: 1rem;
}
/********** KNAPPER *************/

.webshop_btn_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.view_all_btn {
  padding: 6px 18px;
  background-color: #546e9a;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
  border: none;
  outline: none;
}

h2 {
  text-align: center;
  margin-top: 2rem;
}

.footer-title {
  font-family: "InstrumentSans";
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

/************ LOGO ***********/
#Plektar_form {
  filter: drop-shadow(red 0px 0px 20px);
}
#Lyn {
  filter: drop-shadow(red 0px 15px 27px);
}

/****** Desktop ************/
@media (min-width: 769px) {
  .Product_cards {
    width: 30%;
    max-width: 400px;
  }

  .best_seller_group {
    gap: 40px;
  }

  .webshop_overskrift {
    font-size: 80px;
  }
  h2 {
    text-align: left;
    padding-left: 40px;
  }

  .webshop_btn_cont {
    margin-bottom: 40px;
  }
}
